// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$max-width: 350px;
$border-radius: 15px;

$font-stack: 'Kumbh Sans', sans-serif;
// Name and stat numbers
$font-size-bc: 1.125rem;

// Background
$clr-primary: hsl(185, 75%, 39%);
// Name and stat numbers
$clr-secondary: hsl(229, 23%, 23%);
// Age, location, stat text
$clr-tertiary: hsl(227, 10%, 46%);

// Border
$clr-neutral: hsl(0, 0%, 91%);
$clr-neutral-dark-t: hsla(0, 0%, 59%, 0.5);
