@import 'config';

// Resets

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

// Utilities
%flex-center-shared {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

@import 'media';
