@import 'config';

// Resets

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

// Utilities
%flex-shared {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

// Base styles
body {
	min-height: 100vh;
	@extend %flex-shared;
	font-family: $font-stack;
	background: url('../images/bg-pattern-top.svg') no-repeat bottom 50vh right
			37vw,
		url('../images/bg-pattern-bottom.svg') no-repeat 37vw 50vh;
	background-color: $clr-primary;
	background-attachment: fixed;
	padding: 1.5rem;
	line-height: 1.5;
}

// Profile Card
.profile {
	max-width: $max-width;
	width: 100%;
	background-color: #fff;
	border-radius: $border-radius;

	// Profile Info
	&-info {
		background: url('../images/bg-pattern-card.svg') no-repeat top center;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		padding: 0 0.5rem;
	}

	// Profile Image
	&-img {
		border-radius: 50%;
		border: 5px solid #fff;
		margin-top: 87px;
	}

	&-name {
		font-size: $font-size-bc;
		color: $clr-secondary;
	}

	&-age {
		font-weight: 400;
		color: $clr-tertiary;
	}

	&-location {
		font-size: 0.9rem;
		color: $clr-tertiary;
	}

	.divider {
		border: 0;
		border-top: 1px solid $clr-neutral;
		margin-top: 1.75rem;
	}

	&-stats {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 1.75rem;

		.stats {
			&-num {
				font-size: $font-size-bc;
				font-weight: 700;
				color: $clr-secondary;
			}

			&-type {
				font-size: 0.6rem;
				letter-spacing: 1.5px;
				color: $clr-tertiary;
			}
		}
	}
}

@import 'media';
